.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #eb874e 0%, #F7CE68 100%);
    padding: 2rem .5rem;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.272);
    transition: 0.2s;
    width: 250px;
    height: 350px;
}
.card:hover{
    transform: scale(1.05);
}

.card-image{
    height: 200px;
    width: 200px;
    padding: 1rem;

}

.card-caption{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 1rem;
    color: white;
}
.card-caption h2{
    font-size: 24px;
    font-weight: bold;
}